<div class="spinner-border align-middle ms-3" role="status" aria-hidden="true"></div>
<strong class="ms-1 align-middle">@Message</strong>

@code {
    [Parameter] public string Message { get; set; } = "Loading...";
}
