<div class="d-flex align-items-center justify-content-center">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
            <strong class="ms-3">@Message</strong>
</div>

@code {
    [Parameter] public string Message { get; set; } = "Loading...";
}
