@page "/dashboard"
@inject HttpClient HttpClient
@inject NavigationManager navigationManager

<PageTitle>Dashboard - OpenAS2</PageTitle>

<div class="
        d-flex
        justify-content-between
        flex-wrap flex-md-nowrap
        align-items-center
        pt-3
        pb-2
        mb-3
        border-bottom
      ">
    <h1><i class="fa-solid fa-chart-line"></i> Dashboard</h1>
</div>

@code {

}
